@using AutomaticStockTrading.Services;
@{
    ViewData["Title"] = "Profile Page";
}



<p>TEST</p>

@{
    
    var apilist = Tools.GetStocks("GME");
    var currStock = Tools.GetStock("GME");

    <p>@currStock.First().close</p>

    <table style="width:100%">
        <tr>
            <th>Datetime</th>
            <th>Open</th>
            <th>High</th>
            <th>Low</th>
            <th>Close</th>
            <th>Volume</th>
        </tr>
        @{foreach (var item in apilist)
            {
                <tr>
                    <td>@item.dateTime</td>
                    <td>@item.open</td>
                    <td>@item.high</td>
                    <td>@item.low</td>
                    <td>@item.close</td>
                    <td>@item.volume</td>
                </tr>
            }
        }
    </table>

}