@using AutomaticStockTrading.Services;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Forside";
}
@{
    if (string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("username")))
    {
        <main>
            <section class="vh-100 d-flex align-items-center justify-content-center">
                <div class="container">
                    <div class="row align-items-center ">
                        <div class="col-12 col-lg-5 order-2 order-lg-1 text-center text-lg-left">
                            <h1 class="mt-5">Du er ikke <span class="text-primary">logget</span> ind</h1>
                            <p class="lead my-4">It's always time for a coffee break. We should be back by the time you finish your coffee.</p>
                            <a class="btn btn-dark animate-hover" asp-action="LoginPage" asp-controller="User"><i class="fas fa-chevron-left me-3 ps-2 animate-left-3"></i>Go to login</a>
                        </div>
                        <div class="col-12 col-lg-7 order-1 order-lg-2 text-center d-flex align-items-center justify-content-center">
                            <img class="img-fluid w-75" src="../../assets/img/illustrations/500.svg" alt="500 Server Error">
                        </div>
                    </div>
                </div>
            </section>
        </main>
    }
    else
    {
        <body>
        <div>
            <br>
        </div>
        @inject StockDataService _stockDataService;
        @{
            string[] stockList = {"GME", "AAPL", "AMZN", "MSFT"};
            var stockTypesList = _stockDataService.GetAllTypes();
            var selectedStock = stockTypesList[0].name;
            //var bigBoxStock = _stockDataService.GetCurrentPrice(selectedStock);
            var bigBoxCurr = _stockDataService.GetCurrentPrice(selectedStock);
            var bigBoxCloseYesterday = _stockDataService.GetAllClosePriceYesterday(selectedStock);
            var bigAfkastOneD = Math.Round(double.Parse(bigBoxCurr.price) / double.Parse(bigBoxCloseYesterday) * 100 - 100, 2);
        }
        <main class="content">
        <div class="row justify-content-md-center">
            <div class="col-12 mb-4">
                <div class="card bg-secondary-alt shadow-sm">
                    <div class="card-header d-sm-flex flex-row align-items-center flex-0">
                        <div class="d-block mb-3 mb-sm-0">
                            <a class="h5 fw-normal mb-2" asp-controller="Yourpages" asp-action="StockPage" asp-route-id="@stockTypesList[0].name">@stockTypesList[0].name</a>
                            <h2 class="h3">@bigBoxCurr.price $</h2>
                            <div class="small mt-2">
                                <span class="fw-bold me-2">Afkast siden i går: </span>
                                @{
                                    if (bigAfkastOneD > 0)
                                    {
                                        <span class="text-success">
                                            <span class="fas fa-angle-up"></span>
                                            @bigAfkastOneD
                                            <span class="fw fa-bold">%</span>
                                        </span>
                                    }
                                    else
                                    {
                                        {
                                            <span class="text-danger">
                                                <span class="fas fa-angle-down"></span>
                                                @bigAfkastOneD
                                                <span class="fw-bold">%</span>
                                            </span>
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-2">
                        <div id="chart_div"></div>
                        <div id="stockChartContainer" style="height: 400px">My Graph</div>
                    </div>
                </div>
            </div>
            <!--
            @{/*
                foreach (var stock in _stockDataService.GetAllTypes().Skip(0))
                {
                    var thisCur = stock.price;
                    var thisYesterday = stock.closeYesterday;
                    var thisOneMonth = stock.closeOneMonth;
                    var thisOneYear = stock.closeOneYear;

                    var stockAfkastOneDay = Math.Round(double.Parse(thisCur) / double.Parse(thisYesterday) * 100 - 100, 2);

                    <div class="col-12 col-sm-6 col-xl-4 mb-4">
                        <div class="card bg-secondary-alt shadow-sm">
                            <div class="card-header d-sm-flex flex-row align-items-center flex-0">
                                <div class="d-block mb-3 mb-sm-0">
                                    <a class="h5 fw-normal mb-2" asp-controller="Yourpages" asp-action="StockPage" asp-route-id="@stock.name">@stock.name</a>
                                    <h2 class="h3">@thisCur</h2>
                                    <div class="small mt-2">
                                        <span class="fw-bold me-2">Afkast siden i går: </span>
                                        @{
                                            if (stockAfkastOneDay > 0)
                                            {
                                                <span class="text-success">
                                                    <span class="fas fa-angle-up"></span>
                                                    @stockAfkastOneDay
                                                    <span class="fw fa-bold">%</span>
                                                </span>
                                            }
                                            else
                                            {
                                                {
                                                    <span class="text-danger">
                                                        <span class="fas fa-angle-down"></span>
                                                        @stockAfkastOneDay
                                                        <span class="fw-bold">%</span>
                                                    </span>
                                                }
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-2">
                                <div class="ct-chart-sales-value ct-double-octave ct-series-g"></div>
                                <span>
                                    graph tool here
                                </span>
                            </div>
                        </div>
                    </div>
                }
            */}
            -->
        </div>

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
            <div class="col col-md-6 col-lg-3 col-xl-4">
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon2">
                        <span class="fas fa-search"></span>
                    </span>
                    <input type="text" class="form-control" id="exampleInputIconLeft" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-body pb-0">
                        <div class="table-responsive">
                            <table class="table table-centered table-nowrap mb-0 rounded">
                                <thead class="thead-light">
                                <tr>
                                    <th class="border-0">Navn</th>
                                    <th class="border-0">Pris</th>
                                    <th class="border-0">Valuta</th>
                                    <th class="border-0">Afkast 1 dag</th>
                                    <th class="border-0">Afkast 1 måned</th>
                                    <th class="border-0">Afkast 1 år</th>
                                </tr>
                                </thead>

                                @{
                                    foreach (var stock in _stockDataService.GetAllTypes())
                                    {
                                        var thisCur = stock.price;
                                        var thisYesterday = stock.closeYesterday;
                                        var thisOneMonth = stock.closeOneMonth;
                                        var thisOneYear = stock.closeOneYear;

                                        var stockAfkastOneDay = Math.Round(double.Parse(thisCur) / double.Parse(thisYesterday) * 100 - 100, 2);
                                        var stockAfkastOneMonth = Math.Round(double.Parse(thisCur) / double.Parse(thisOneMonth) * 100 - 100, 2);
                                        var stockAfkastOneYear = Math.Round(double.Parse(thisCur) / double.Parse(thisOneYear) * 100 - 100, 2);
                                        <tbody>
                                        <tr>
                                            <td>
                                                <a asp-controller="Yourpages" asp-action="StockPage" asp-route-id="@stock.name">@stock.name</a>
                                            </td>
                                            <td class="fw-bold">
                                               @thisCur
                                            </td>
                                            <td>
                                                USD
                                            </td>
                                            <td>
                                                @{
                                                    if (stockAfkastOneDay > 0)
                                                    {
                                                        <span class="text-success">
                                                            <span class="fas fa-angle-up"></span>
                                                            @stockAfkastOneDay
                                                            <span class="fw-bold">%</span>
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="text-danger">
                                                            <span class="fas fa-angle-down"></span>
                                                            @stockAfkastOneDay
                                                            <span class="fw-bold">%</span>
                                                        </span>
                                                    }
                                                }
                                            </td>
                                            <td>
                                                @{
                                                    if (stockAfkastOneMonth > 0)
                                                    {
                                                        <span class="text-success">
                                                            <span class="fas fa-angle-up"></span>
                                                            @stockAfkastOneMonth
                                                            <span class="fw-bold">%</span>
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="text-danger">
                                                            <span class="fas fa-angle-down"></span>
                                                            @stockAfkastOneMonth
                                                            <span class="fw-bold">%</span>
                                                        </span>
                                                    }
                                                }
                                            </td>
                                            <td>
                                                @{
                                                    if (stockAfkastOneYear > 0)
                                                    {
                                                        <span class="text-success">
                                                            <span class="fas fa-angle-up"></span>
                                                            @stockAfkastOneYear
                                                            <span class="fw-bold">%</span>
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="text-danger">
                                                            <span class="fas fa-angle-down"></span>
                                                            @stockAfkastOneYear
                                                            <span class="fw-bold">%</span>
                                                        </span>
                                                    }
                                                }
                                            </td>
                                        </tr>
                                        </tbody>
                                    }
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </main>

        </body>
    }

}