@using AutomaticStockTrading.Services;
@using AutomaticStockTrading.DataContext;
@using System.Globalization
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Din Side";

}

@{
    if (string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("username")))
    {
        <main>
            <section class="vh-100 d-flex align-items-center justify-content-center">
                <div class="container">
                    <div class="row align-items-center ">
                        <div class="col-12 col-lg-5 order-2 order-lg-1 text-center text-lg-left">
                            <h1 class="mt-5">Du er ikke <span class="text-primary">logget</span> ind</h1>
                            <p class="lead my-4">It's always time for a coffee break. We should be back by the time you finish your coffee.</p>
                            <a class="btn btn-dark animate-hover" asp-action="LoginPage" asp-controller="User"><i class="fas fa-chevron-left me-3 ps-2 animate-left-3"></i>Go to login</a>
                        </div>
                        <div class="col-12 col-lg-7 order-1 order-lg-2 text-center d-flex align-items-center justify-content-center">
                            <img class="img-fluid w-75" src="../../assets/img/illustrations/500.svg" alt="500 Server Error">
                        </div>
                    </div>
                </div>
            </section>
        </main>
    }
    else
    {
        <body>
        <!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->
        <main class="content">

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
            <div class="d-block mb-4 mb-md-0">
                <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                    <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                        <li class="breadcrumb-item">
                            <a href="#">
                                <span class="fas fa-home"></span>
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Dine sider</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Portefølje</li>
                    </ol>
                </nav>
                <h2 class="h4">Din Portefølje</h2>
                <p class="mb-0">Her ser du alle dine aktier som du har købt der indgår i din portefølje. </p>
                <ul> <b>FAQ:</b>
                    <li><a data-bs-toggle="modal" data-bs-target="#modal-1"><b style="color: #0a53be"> Hvad er en portfølje?</b></a></li>
                    <li><a data-bs-toggle="modal" data-bs-target="#modal-2"><b style="color: #0a53be"> Hvordan bygger jeg en  portfølje?</b></a></li>
                    <li><a data-bs-toggle="modal" data-bs-target="#modal-3"><b style="color: #0a53be"> Identificering af mål og tidshorisont</b></a></li>
                </ul>
                <!-- hvad er en portefølje?-->
                <div class="modal fade" id="modal-1" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="h4 modal-title">Hvad er en portefølje?</h2>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>En aktieportefølje er en samling af aktier, som du investerer i med håb om at få overskud.</p>
                                <p>Ved at sammensætte en forskellig portefølje, der spænder over forskellige sektorer, kan du blive en mere modstandsdygtig investor.</p>
                                <p>Det skyldes, at hvis en sektor får et hit, påvirkes ikke investeringerne i andre sektorer nødvendigvis.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tak for info! ʕ•ᴥ•ʔ</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- hvordan bygger man en portefølje?-->
                <div class="modal fade" id="modal-2" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="h4 modal-title">hvordan bygger man en portefølje?</h2>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Når du sammensætter en aktieportefølje, er det vigtigt at have dine mål i tankerne på forhånd. 
                                    På den måde styres din beslutningsproces af fornuft i modsætning til følelser.</p>
                                <p>Alternativt kan du blive tvunget af din følelsesmæssige tilknytning til bestemte mærker til ikke kun at investere, 
                                    men at holde på investering forbi det punkt, 
                                    hvor det giver mening at gøre det bare fordi du kan lide virksomheden, 
                                    eller fordi du har lyst til at have givet for meget af dig selv over til din investering.</p>
                                <p>Sidstnævnte er kendt som den sænkede omkostningsfejl. Denne fejlslutning beskriver, 
                                    at investeringer eller projekter er længere, end det giver mening, fordi du føler, 
                                    at du har investeret for meget til at vende tilbage.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tak for info! (づ｡◕‿‿◕｡)づ</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Mål n stuff -->
                <div class="modal fade" id="modal-3" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="h4 modal-title">Mål og tidslinje</h2>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Din investeringsstrategi skal indeholde aspekter af din personlighed. 
                                    Hvis du generelt er nervøs og ser nøje på dine aktier, 
                                    kan det være bedre for dig at foretage investeringer i mindre ustabile virksomheder. 
                                    Du bør også overveje, hvor længe du agter at holde på dine aktier.</p>
                                <p>Markedet har en historisk opadgående tendens, hvilket gør det til et godt valg for langsigtede investeringer, 
                                    men på kort sigt kan du forvente naturlige udsving på markedet.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tak for info! ( ͡° ͜ʖ ͡°)</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-primary">Eksporter</button>
                </div>
            </div>
        </div>


        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        </div>
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-body pb-0">
                        <div class="table-responsive">
                            <div class="card-body d-flex flex-row align-items-center flex-0 border-bottom">
                                <div class="w-100 d-flex justify-content-between align-items-start">
                                    <div>
                                        <h2 class="h4">Kontooversigt</h2>
                                    </div>
                                </div>
                            </div>
                            @{
                                var userID = HttpContextAccessor.HttpContext.Session.GetInt32("userID").GetValueOrDefault();
                                var orderList = userDataService.getOrdersWithDetails(userID);
                            }
                            
                            <table class="table table-centered table-nowrap mb-0 rounded">
                                <thead class="thead-light">
                                <tr>
                                    <th class="border-0">Konto</th>
                                    <th class="border-0">Valuta</th>
                                    <th class="border-0">Værdi</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>@userDataService.GetUser(userID).id</td>
                                    <td class="fw-bold">DKK</td>
                                    <td>wallet-værdi</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-4 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-body d-flex flex-row align-items-center flex-0 border-bottom">
                        <div class="d-block">
                            <div class="h6 fw-normal text-gray mb-2">Aktier</div>
                            <h2 class="h4">Din beholdning</h2>
                        </div>
                        <div class="ms-auto">
                            @inject UserDataService userDataService;
                            @inject StockDataService _stockDataService;
                            <div id="userid" style="display: none">@userDataService.GetUser(userID).id</div>
                            @{
                                var distinctStocks = orderList.GroupBy(s => s.name).Select(grp => grp.First()).ToList();
                                foreach (var stock in distinctStocks)
                                {
                                    <div class="d-flex align-items-center mb-2">
                                        <span class="shape-xs rounded-circle bg-secondary me-2"></span>
                                        <span class="fw-normal small me-3" id="portfolioStock">@stock.name</span>
                                        <span class="small fw-bold text-dark ms-auto">
                                            @{
                                                var totalStocks = orderList.Where(item => item.name == stock.name)
                                                    .Sum(item => item.amount);
                                            }
                                            <span class="text-success">
                                                @totalStocks
                                                <span class="fw-bold">stk</span>
                                            </span>
                                        </span>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <div class="card-body p-2 py-5">
                        <div class="ct-chart-traffic-share-2 ct-golden-section ct-series-a">
                            <canvas id="portfolioPie"></canvas>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-12 col-xl-8 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-body d-flex flex-row align-items-center flex-0 border-bottom">
                        <div class="w-100 d-flex justify-content-between align-items-start">
                            <div class="table-responsive">
                                <table class="table table-centered table-nowrap mb-0 rounded" id="table">
                                    <thead class="thead-light">
                                    <tr>
                                        <th class="border-0">Navn</th>
                                        <th class="border-0">Antal</th>
                                        <th class="border-0">Købspris</th>
                                        <th class="border-0">Nuværende pris</th>
                                        <th class="border-0">Forandring</th>
                                        <th class="border-0">Gevinst</th>
                                        <th class="border-0">Købsdato</th>
                                        <th class="border-0">Sælg</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    @{
                                        var orderListByName = orderList.OrderBy(x => x.name).ThenBy(y => y.dateTime).ToList();
                                    }
                                    @foreach (var stock in orderListByName)
                                    {
                                        <tr>
                                            <!-- Navn af aktie -->
                                            <td>@stock.name</td>

                                            <!-- Antal aktier: skal beregnes -->
                                            <td>@stock.amount</td>

                                            <!-- Pris på aktie ved købsdato: evt. gennemsnit? -->
                                            <td>@stock.price</td>

                                            <!-- Nuværende pris på aktie -->
                                            <td>
                                                @{
                                                    var todayCloseP = _stockDataService.GetCurrentPrice(stock.name).price;
                                                    var todayClose = double.Parse(todayCloseP, CultureInfo.InvariantCulture);
                                                }
                                                @todayClose
                                            </td>

                                            <!-- Forandring i pris fra købsdato til nu -->
                                            <td>
                                                @{
                                                    var diff = Math.Round(todayClose / stock.price * 100 - 100, 2);
                                                }
                                                @{
                                                    if (diff > 0)
                                                    {
                                                        <span class="text-success">
                                                            <span class="fas fa-angle-up"></span>
                                                            @diff
                                                            <span class="fw-bold">%</span>
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="text-danger">
                                                            <span class="fas fa-angle-down"></span>
                                                            @diff
                                                            <span class="fw-bold">%</span>
                                                        </span>
                                                    }
                                                }
                                            </td>

                                            <!-- Gevinst af aktie -->
                                            <td>
                                                @{
                                                    var revenue = Math.Round(stock.amount * todayClose - (stock.amount * stock.price), 2);
                                                }
                                                @{
                                                    if (revenue > 0)
                                                    {
                                                        <span class="text-success">
                                                            @revenue USD
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="text-danger">
                                                            @revenue USD
                                                        </span>
                                                    }
                                                }
                                            </td>
                                            <!-- Sælg aktie -->
                                            <td>
                                                <span>@stock.dateTime.ToString("dd-MM-yyyy")</span>
                                            </td>
                                            <!-- Sælg aktie -->
                                            <td>
                                                <input class="btn btn-sm btn-dark" id="sellStock" type="button" value="Sælg">
                                            </td>

                                        </tr>
                                    }

                                    <!-- ITEM -->

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        </main>
        </body>
        <script src="~/js/portfolioPage/portfolioChart.js" type="module"></script>
    }
}